<% @books.each do |book| %>
    <section id= 'books-<%=book.id%>'>
        <h1><%= book.title %></h1>
        <h3>Written By: 
        <% book.authors.each do |author| %>
            <li><%= link_to "#{author.name}", "/authors/#{author.id}" %>
        <% end %></li></h3>
        <h3>Number of Pages: <%= book.pages %></h3>
        <h3>Published in: <%= book.year %></h3><br><br><br>
    </section>
<% end %>